<ul class="user-search">
  <div>
	  <label>
      <div>
        <a routerLink="/hashtag_search">Hashtag search</a>
        User search
      </div>
		  <input [(ngModel)]="searchWord" placeholder="Search by User">
      <button (click)="onClickSearch()">Search</button>
	  </label>
  </div>

  <div *ngIf="searchTweets">
    <app-tweet-detail [tweets]="searchTweets.slice(0,10)"></app-tweet-detail>
    <div class="pagination">
      <a *ngIf="pager.previousPage" (click)="goPreviousPage()"><</a>
      <a *ngIf="pager.currentPage"> {{pager.currentPage}}</a>
      <a *ngIf="pager.nextPage" (click)="goNextPage()">></a>
    </div>
  </div>
</ul>
